.character {position:absolute;bottom:0;}
.cls-1{fill:#ff0;}
.cls-1,
.cls-2,
.cls-3{stroke:#000;stroke-miterlimit:10;}
.cls-1,
.cls-2{stroke-width:5px;}
.cls-2{fill:#fff;}
.cls-3{fill:none;stroke-width:9px;}